[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/vim-codefmt"]
	path = bundle/vim-codefmt
	url = git@github.com:google/vim-codefmt.git
[submodule "bundle/vim-maktaba"]
	path = bundle/vim-maktaba
	url = git@github.com:google/vim-maktaba.git
[submodule "bundle/kotlin-vim"]
	path = bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
